/* body */
.body{
    min-height: 100vmax;
    width:100%;
    padding-top: 40px;
}

.body h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 1.5px;
    color: white;
}

.avatar img{
    
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

/* forgot password form */
.fg_pass{
    text-align: center;
}

.fg_pass .fg_row{
    padding: 10px;
    margin: 5px;
}
.fg_pass .fg_row button{
    background:black;
    color: white;
}

.fg_pass .fg_row input{
    margin: 10px;
}

/* Login form */

.login-form{
    width: 30vw;
    margin: auto;
}

/* register form */
.register-form {
    width: 40%;
    margin: auto;
}
.register-form h2{
    color:white;
    letter-spacing: 3px;
}

